:root {
  --dark: #3E5974;
  --light: #CC6D6E;
  --blue: #D2CEC6;
}

* {
  font-family: Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  width: auto;
  margin: 40px;
}

footer p {
  text-align: center;
  font-weight: 400;
  color: #253546;
}

@media screen and (max-width: 786px) {
  footer {
    background-color: var(--dark);
  }
}

.img {
  width: 3%;
  margin: 1%;
}

#icons {
  text-align: center;
}
