@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps");
*{
  margin: 0px;
  padding: 0px;
}

body {
  color: #242f3f;
  font-family: "Merriweather", serif;
  line-height: 1.6;
  background: #FFFFFF;
  font-size: .875rem;
  overflow-x: hidden; }
  @media (min-width: 50em) {
    body {
      font-size: 1.125rem; } }

    
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5%;
  flex-wrap: wrap;
  line-height: 2.5;
  color: #A7A7A7;
  height: 110px;
}

.quote p {
  text-align: center;
  font-weight: 400;
  color: #253546;
}
@media screen and (max-width: 786px) {
  .quote {
    display: none;

  }
}


.about-me {
  width: 90%;
  margin: 0 auto;
  max-width: 50em;
  margin-top: 5em;
  margin-bottom: 5em; }
  .about-me::after {
    content: '';
    display: block;
    clear: both; }

.about-img {
  max-height: 25em; }
  @media (min-width: 42em) {
    .about-img {
      float: left;
      margin-right: 1em; } }

.text{
   color:#CC6D6E;
 }
.my-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

#my-work h2 {
  margin: 0 40px;
  text-align: center;
}

.my-work-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3%;
}
.my-work-card a{
  color: #CC6D6E;
}
.my-work-card p {
  margin: 2%;
}

.my-work-card img {
  width: 96%;
  height: auto;
}

.my-work-card:first-child {
  width: 80%;
}

.my-work-card:not(:first-child) {
  max-width: 44%;
  max-height: 60%;
}

.my-work img {
  object-fit: cover;
  opacity: 0.6;
}

.my-work img {
  transition: all 0.3s ease 0s;
}

.my-work img:hover {
  border-style: solid;
  border-color: var(--blue);
  border-width: 5px;
  border-radius: 15px;
  opacity: 1;
}
.my-work-card section {
  color: #A7A7A7;
}
#contact-me {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  background-color: var(--dark);
}

#contact-me h2 {
  margin: 20px;
}

.contact-form {
  max-width: 500px;
}

form p {
  margin: 3% 0;
}

label {
  display: block;
}

button {
  padding: 2% 3%;
  color: black;
  background-color: var(--blue);
  border-radius: 10px;
  cursor: pointer;
}

.text-input {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.text-input,
select {
  padding: 1%;
  outline: none;
  border: 1.2px solid #7d7d7c;
}

.text-input:hover,
.checkbox:hover,
select:hover,
button:hover {
  box-shadow: 0 0 5px rgb(171, 170, 170);
}

.text-input:focus {
  border-right-width: 5px;
}

.text-input:placeholder-shown {
  border-style: dashed;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-row select {
  flex: 1 0 0;
  margin-left: 2%;
}

.flex-row input {
  margin-right: 2%;
}

.resume {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 6%;
  line-height: 2em;
}

@media screen and (max-width: 786px) {
  header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }


  .page-title {
    margin-left: 0;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-button {
    padding: 15px;
  }

  #about-me {
    flex-direction: column;
    padding: 0;
    margin: 20px;
  }

  #about-me h2 {
    text-align: center;
    margin: 20px;
  }

  #about-me img {
    margin-top: 5%;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 5%;
  }

  #contact-me p {
    margin: 20px;
  }
  .my-work-card:not(:first-child) {
    max-width: 90%;
  }

  .my-work-card:first-child {
    width: 90%;
  }
}
form .form-input {
  width: 100%;
  padding: 0.75rem;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #005F73;
  border-radius: 0.3rem;
}
